# SPDX-FileCopyrightText: 2018 CERN.
# SPDX-License-Identifier: MIT

include .git-blame-ignore-revs
include .dockerignore
include .editorconfig
include .tx/config
include *.rst
include *.sh
include LICENSE
include pytest.ini
prune docs/_build
recursive-include .github/workflows *.yml
recursive-include counter_robots *.po *.pot *.mo
recursive-include counter_robots *.txt
recursive-include docs *.bat
recursive-include docs *.py
recursive-include docs *.rst
recursive-include docs *.txt
recursive-include docs Makefile
recursive-include tests *.py
recursive-include scripts *.py
